# Use the main port in the builder for your self hosting URL, e.g. localhost:10000
MAIN_PORT=10000

# This section contains all secrets pertaining to the system
# These should be updated
API_ENCRYPTION_KEY=3t7gH48Fp9aBzKpN4Qv1Xe2F6Ls0Mv1R
JWT_SECRET=8F2t6r9Yd6wB2x0N3l5P7v1Rf0T3c9P4
MINIO_ACCESS_KEY=6a3m9Q0c1v7bX4eG
MINIO_SECRET_KEY=J8r5s9L2y3p0Q5d7wX2v3m6B7t4K8g2C
COUCH_DB_PASSWORD=Db4Z7m6X2w8L3aN5bR0Y8f1H9e2F5r4T
COUCH_DB_USER=admin_budibase_prod
REDIS_PASSWORD=R3d1sS3cur3K3y0nP4r0D1
INTERNAL_API_KEY=V2r8s9L3n6F1k4J5t9X0y2p7G5m3R8wT

# This section contains variables that do not need to be altered under normal circumstances
APP_PORT=4002
WORKER_PORT=4003
MINIO_PORT=4004
COUCH_DB_PORT=4005
COUCH_DB_SQS_PORT=4006
REDIS_PORT=6379
WATCHTOWER_PORT=6161
BUDIBASE_ENVIRONMENT=PRODUCTION
SQL_MAX_ROWS=10000

# An admin user can be automatically created initially if these are set
BB_ADMIN_USER_EMAIL=admin@yourdomain.com
BB_ADMIN_USER_PASSWORD=Str0ngP@ssw0rd2024!*

# A path that is watched for plugin bundles. Any bundles found are imported automatically/
PLUGINS_DIR=/opt/budibase/plugins
ROLLING_LOG_MAX_SIZE=100MB

# DB Name on MYsql
DBNAME=inventory
